.carrito-container {
  padding-bottom: 100px;
}

.cart--mobile {
  display: none;
}

.cartmobile {
  display: none;
}

.carrito {
  padding-top: 120px;
  padding-bottom: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: rgb(245, 245, 245);

  &--line {
    width: 20%;
    border: 3px solid rgb(53, 58, 61);
    border-radius: 20px;
  }

  &--info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding-bottom: 40px;
  }

  h2 {
    font-size: 50px;
  }

  &--container {
    display: flex;
    justify-content: center;
    gap: 180px;
    margin-bottom: 100px;
    margin-top: 50px;

    &__total {
      width: 290px;
      display: flex;
      flex-direction: column;
      border: 1px solid rgb(218, 218, 218);
      padding: 40px;
      border-radius: 20px;
      gap: 10px;
      font-size: 18px;

      p {
        font-size: 16px;
        color: #1a1a1ab3;
      }

      &__price {
        padding-bottom: 10px;
        display: flex;
        justify-content: space-between;
        p {
          font-weight: 600;
          font-size: 22px;
          color: black;
        }
      }

      &__price2 {
        display: flex;
        justify-content: space-between;

        p {
          font-size: 18px;
          font-weight: 400;
          color: #1a1a1ab3;
        }
      }

      textarea {
        border: 1px solid rgb(218, 218, 218);
        border-radius: 10px;
        padding: 10px;
        resize: none;
        background: none;
        font-size: 14px;
      }
    }
  }
}

.carrito--container__table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  height: 100px;
  font-size: 18px;
}

.carrito--container__table tbody {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.carrito--container__table th,
.carrito--container__table td {
  padding: 8px;
  text-align: left;
}

.carrito--container__table th {
  padding-bottom: 24px;
  font-size: 16px;
}

.carrito--container__table td img {
  margin-right: 15px;
  width: 120px;
  filter: brightness(1.1);
  mix-blend-mode: multiply;
}

.carrito--container__product-info {
  display: flex;
  align-items: center;

  h1 {
    font-size: 16px;
    color: black;
    cursor: pointer;
    text-decoration: underline 0.15em rgba(255, 255, 255, 0);
    transition: text-decoration-color 300ms;
    text-underline-offset: 0.2em;
  }

  h1:hover {
    text-decoration-color: rgb(0, 0, 0);
    text-underline-offset: 0.2em;
  }

  p {
    color: #000000b3;
    font-weight: 400;
    font-size: 16px;
  }
}

.carrito--container__product-info > div {
  margin-right: 80px;
}

.carrito--container__table__price {
  font-weight: bold;
  display: flex;
  gap: 1rem;
}

.carrito--container__table .carrito--container__table__quantity {
  margin-right: 100px;

  p {
    padding: 8px 20px;
    border-radius: 0.5rem;
    border: 1px solid #9e9e9eb3;
    color: #000000b3;
    font-weight: 400;
    font-size: 16px;

    button {
      color: #9e9e9eb3;
    }
  }
}

.carrito--container__table button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #606060b3;
  text-decoration: underline;
  text-underline-offset: 0.2em;
  font-size: 14px;
}

.carrito--container__table button:hover {
  color: black;
}

.carrito--container__table__total {
  p {
    color: #000000b3;
    font-weight: 400;
    font-size: 16px;
  }
}

.checkout {
  width: 100%;
  padding: 23px;
  background-color: rgb(53, 58, 61);
  border: none;
  border-radius: 30px;
  color: white;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 30px;
}

.checkout:hover {
  text-decoration: none;
  background-color: rgb(89, 93, 95);
}

.paypal {
  width: 100%;
  background-color: rgb(255, 196, 57);
  border: none;
  padding: 10px;
  display: flex;
  justify-content: center;
  gap: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.googlepay {
  width: 100%;
  background-color: rgb(0, 0, 0);
  border: none;
  border-radius: 10px;
  padding: 10px;

  img {
    width: 50px;
  }
}

.deletecart {
  border: none;
  background: none;
  margin-top: 10px;
}

.deletecart:hover {
  text-decoration: underline;
}

.accept {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  div {
    display: flex;
    gap: 10px;
  }
}

.empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-bottom: 100px;
  button {
    background-color: #353a3d;
    border: none;
    padding: 10px;
    border-radius: 20px;
    color: white;
    font-weight: 600;
  }
  button:hover {
    background-color: #5a5e61;
  }
}

@media screen and (max-width: 1300px) {
  .carrito {
    padding-top: 90px;

    h2 {
      font-size: 40px;
    }

    &--container {
      flex-direction: column;
      align-items: center;
      gap: 50px;
      margin-bottom: 50px;
      margin-top: 50px;

      &__products {
        padding-bottom: 10px;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        img {
          width: 60%;
        }
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .carrito--container__table {
    display: none;
  }

  .cartmobile {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-bottom: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;
    padding: 20px 0;
  }

  .cart--mobile {
    /* padding: 8px; */
    display: flex;
    align-items: center;
    gap: 30px;
    /* justify-content: center; */

    &__img {
      img {
        width: 90px;
        filter: brightness(1.1);
        mix-blend-mode: multiply;
      }
    }
    &__data {
      display: flex;
      flex-direction: column;
      gap: 3px;

      h1 {
        font-size: 16px;
        font-weight: 500;
      }

      p {
        color: rgb(112, 112, 112);
        font-weight: 400;
        text-transform: capitalize;
      }

      &--quantity {
        display: flex;
        align-items: center;
        gap: 12px;
        p {
          text-align: center;
          width: 20px;
          padding: 2px 10px 2px 10px;
          border: 1px solid #b3b3b3;
          border-radius: 10px;
          font-size: 12px;
        }

        button {
          font-size: 12px;
          border: none;
          background: none;
          color: rgb(112, 112, 112);
          text-decoration: underline;
          text-underline-offset: 0.4em;
        }
        button:hover {
          color: black;
        }
      }
    }
  }
}
