.chatgotop {
  position: fixed;
  bottom: 33px;
  right: 35px;
  padding: 10px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: rgb(53, 58, 61);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 300;
  transition: opacity 0.3s ease-in-out;

  button {
    background: none;
    border: none;

    svg {
      stroke: white;
    }
  }
}
