.rsc a {
  bottom: 155px;
  width: 46px;
  height: 46px;
  left: 33px;
}

.rsc-header-close-button {
  width: 46px;
  height: 46px;
  background-color: rgb(53, 58, 61);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s ease-in-out;
}
