.userprofile {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .userprofile {
    padding-top: 120px;
    padding-bottom: 60px;
  }
}
