.home {
  color: black;
  background-color: rgb(245, 245, 245);

  &--top {
    background-image: url("../../../public/assets/keyboardshome.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }

  &--mid {
    padding-top: 50px;
    padding-bottom: 100px;

    h3 {
      text-align: center;
      font-size: 35px;
      font-weight: 400;
    }

    &__products {
      width: 100%;
      padding-top: 50px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 30px;

      img {
        width: 400px;
      }

      &--left {
        display: flex;
        flex-direction: column;
        gap: 30px;
      }
      &--mid {
        display: flex;
        align-items: center;
        position: relative;
        overflow: hidden;
        border-radius: 16px;

        img {
          object-fit: cover;
          width: 600px;
          height: 528px;
          border-radius: 16px;
          transition: transform 0.3s ease;
        }
        h4 {
          font-size: 40px;
        }
      }
      &--mid:hover img {
        transform: scale(1.1);
      }
      &--right {
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        gap: 30px;
      }
    }
  }
}

.container {
  position: relative;
  overflow: hidden;
  border-radius: 16px;
  height: 249px;

  img {
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
  }

  h4 {
    font-size: 40px;
  }
}

.container:hover img {
  transform: scale(1.1);
}

.capa-oscura {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.356);
}

.superpuesto {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white; /* Puedes ajustar el color del texto según tu diseño */
  text-align: center;
  font-size: 24px; /* Ajusta el tamaño de fuente según tus necesidades */
  font-weight: bold; /* Puedes ajustar el peso de la fuente según tu diseño */
}

.featurekeyboards {
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 90px;

  &--title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    h1 {
      margin-bottom: 30px;
      font-size: 46px;
    }
    a {
      display: flex;
      align-items: center;
      gap: 10px;
      cursor: pointer;
      color: black;
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }
  }

  &--container {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    cursor: pointer;
  }
}

div::-webkit-scrollbar {
  /* width: 12px; */
  height: 8px;
  border-radius: 20px;
  cursor: pointer; /* width of the entire scrollbar */
}

div::-webkit-scrollbar-track {
  background: white;
  border-radius: 20px;
  cursor: pointer; /* color of the tracking area */
}

div::-webkit-scrollbar-thumb {
  background-color: rgb(130, 130, 130);
  border-radius: 20px;
  border: 1px solid rgb(130, 130, 130);
  cursor: pointer;
}

@media screen and (max-width: 1480px) {
  .home--mid__products--mid {
    width: 830px;

    img {
      width: 100%;
    }
  }
}

@media screen and (max-width: 850px) {
  .home--mid__products--mid {
    width: 450px;

    img {
      width: 100%;
    }
  }
  .home--mid__products--right {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 800px) {
  .featurekeyboards {
    padding: 20px;
    margin-bottom: 50px;
    &--title {
      padding: 0;
      width: 100%;
      flex-direction: column;
      align-items: start;
      margin-bottom: 40px;
      gap: 10px;
      h1 {
        font-size: 30px;
        margin-bottom: 0;
      }
    }
    &--container {
      width: 100%;
      gap: 10px;
    }
  }
}

@media screen and (max-width: 616px) {
  .home--mid__products--mid {
    width: 360px;

    img {
      width: 100%;
    }
  }
  .home--mid__products {
    img {
      width: 360px;
      height: 100%;
      transition: transform 0.2s;
    }
    &--left {
      img {
        width: 360px;
        height: 100%;
        transition: transform 0.2s;
      }
    }
    &--right {
      img {
        width: 360px;
        height: 100%;
        transition: transform 0.2s;
      }
    }
  }
  div::-webkit-scrollbar-track {
    background: rgb(0, 0, 0);
  }
}
