.logout-button {
  width: 100px;
  padding: 10px;
  background-color: #353a3d;
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 40px;
}
.logout-container {
  text-align: center;
}

.logout-button:hover {
  background-color: #494d50;
}
