.menu {
  display: none;
}

.navbar {
  /* background-color: rgba(245, 245, 245, 0.76);
  backdrop-filter: blur(10px); */
  /* background-color: rgb(245, 245, 245); */
  background-color: rgb(53, 58, 61);
  position: fixed;
  width: 100%;
  z-index: 300;
  /*   padding: 5px 0px 5px 0px; */

  .nav-link-wrapper {
    display: inline-block;
    margin-right: 20px;
  }

  &--nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 10;

    &--title {
      /* width: 200px; */
      display: flex;
      gap: 20px;
      align-items: center;
      h1 {
        cursor: pointer;
      }
      img {
        width: 70px;
        /* height: 60px; */
      }
      a {
        display: flex;
      }
    }

    &--links {
      display: flex;
      align-items: center;
      gap: 30px;

      /* .active {
        font-weight: 700;
        text-decoration: underline #fd8904;
        text-underline-offset: 0.4em;
      } */

      a {
        height: 70px;
        padding: 0px 20px 0px 20px;
        text-decoration: none;
        color: rgb(255, 255, 255);
        font-size: 18px;
        font-weight: 600;
        display: flex;
        align-items: center;
      }
      a:hover {
        text-decoration: underline;
        text-underline-offset: 0.4em;
      }
    }
    &--svg {
      /* width: 200px; */
      display: flex;
      align-items: center;
      gap: 10px;
      svg {
        width: 28px;
      }
    }
  }
}

.navbar.colorChange {
  color: white;
  background-color: white;

  a {
    color: black;
  }

  .cart {
    fill: black;
  }
  .profile {
    stroke: black;
  }
  .hamburger {
    fill: black;
  }
  .nav-link-with-dropdown {
    svg {
      stroke: black;
    }
  }
}

/* .navbar:hover {
  color: white;
  background-color: white;

  a {
    color: black;
  }

  .cart {
    fill: black;
  }
  .profile {
    stroke: black;
  }
  .hamburger {
    fill: black;
  }
  .nav-link-with-dropdown {
    svg {
      stroke: black;
    }
  }
} */

.profile {
  stroke: rgb(255, 255, 255);
}
.profile:hover {
  stroke: rgb(220, 220, 220);
}

.cart {
  fill: rgb(255, 255, 255);
}

.cart:hover {
  fill: rgb(220, 220, 220);
}

.hamburger {
  fill: white;
}

.closed-menu {
  left: -100% !important;
}

.open-menu {
  left: 0 !important;
}

.mobile-nav {
  display: flex;
  gap: 4rem;
  width: 100%;
  height: 100vh;
  z-index: 300;
  /* -webkit-backdrop-filter: blur(90px);
  backdrop-filter: blur(90px); */
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  align-items: start;
  justify-content: start;
  transition: all 0.3s ease-in-out;
  overflow-x: auto;

  .mobile-dropdown {
    width: 100%;
    /* display: grid;
    grid-template-columns: repeat(1, 1fr); */
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: start;

    a {
      display: flex;
      justify-content: initial;
      gap: 10px;
      font-weight: 400;
      /* padding-left: 30px; */
    }
  }

  .mobile-dropdown2 {
    /* width: 100%; */
    /* display: grid;
    grid-template-columns: repeat(1, 1fr); */
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: start;
    margin-bottom: 10px;
    margin-top: 10px;

    a {
      color: grey;
      display: flex;
      justify-content: initial;
      gap: 10px;
      font-weight: 400;
      padding-left: 40px;
    }
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  span {
    cursor: pointer;
    font-size: 1rem;
    position: absolute;
    right: 0.7rem;
    top: 1.5rem;
  }

  ul {
    width: 100%;
    font-weight: 700;
    padding-top: 100px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 1.6rem;
    list-style: none;

    li {
      display: flex;
      align-items: center;
      display: flex;
      justify-content: space-between;
    }

    a {
      width: 100%;
      color: #000000;
      text-decoration: none;
      font-size: 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      svg {
        stroke: black;
      }
    }
    a:hover {
      text-decoration: underline;
      text-underline-offset: 0.4em;
    }
    a:hover svg {
      fill: black;
    }
  }
}
/* Estilo para el contenedor de la opción con menú desplegable */
.nav-link-with-dropdown {
  position: relative;
  display: inline-block;

  a {
    display: flex;
    gap: 4px;

    svg {
      stroke: rgb(255, 255, 255);
    }
  }
}
/* .nav-link-with-dropdown:hover {
  background-color: white;
} */

.dropdown {
  border-top: 1px solid rgb(216, 216, 216);
  width: 100vw;
  left: 0;
  margin-top: 10px;
  display: none;
  position: fixed;
  background-color: rgb(245, 245, 245);
  box-shadow: 0 40px 20px rgba(0, 0, 0, 0.2);
  z-index: 1;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease;

  &--links {
    display: flex;
    gap: 60px;
    margin-top: 50px;
    margin-bottom: 30px;

    a {
      font-weight: 400;
      color: rgb(126, 126, 126);
      font-size: 16px;
      padding-left: 0;
    }

    a:hover {
      text-decoration: none;
    }

    h3 {
      padding-bottom: 30px;
      font-size: 22px;
    }

    h3:hover {
      text-decoration: underline;
    }

    ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 20px;
      font-weight: 400;
      color: rgb(126, 126, 126);
      font-size: 16px;

      li a {
        color: rgb(126, 126, 126);
        font-size: 16px;
        padding-left: 0;
      }
    }
    li a:hover {
      color: black;
    }
  }

  &--img {
    position: relative;
    display: inline-block;
    overflow: hidden;

    img {
      width: 300px;
      overflow: hidden;
      border-radius: 10px;
    }
    p {
      line-height: 25px;
      font-weight: 800;
      color: rgb(255, 255, 255);
    }
    &__text {
      font-size: 30px;
      position: absolute;
      top: 60%;
      left: 50%;
      transform: translate(-90%, 80%);
      z-index: 1;
    }
  }
}

.dropdown a {
  color: black;
  text-decoration: none;
  display: block;
  height: auto;
}

.linkcart {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.cart-container {
  position: relative;
  width: 42px;
  height: 42px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.superponer {
  padding: 0px 7px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgb(80, 84, 87);
  color: white;
  border-radius: 50%;
  font-size: 13px;
  font-weight: 600;
}

.image-container {
  border-radius: 18px;
  overflow: hidden;
  height: 300px;
}

.popupcart-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Fondo oscuro semitransparente */
  z-index: 1000;
}

.popupcart-content {
  top: 20px;
  bottom: 20px;
  right: 10px;
  position: fixed;
  background: rgb(245, 245, 245);
  padding: 20px;
  border-radius: 10px;
  width: 27%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  button {
    position: absolute;
    right: 10px;
    top: 12px;
    background: none;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 12px;
    font-weight: 700;
    border-radius: 5px;
    svg {
      width: 25px;
    }
  }

  &__top {
    &--title {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-bottom: 30px;
      p {
        padding: 0px 8px;
        background-color: rgb(80, 84, 87);
        border-radius: 50%;
        color: white;
        font-size: 16px;
      }
    }

    &__cart {
      margin-top: 10px;
      height: 580px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      overflow-x: auto;

      &__container {
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: space-between;

        img {
          width: 100px;
          filter: brightness(1.1);
          mix-blend-mode: multiply;
        }

        h1 {
          font-size: 15px;
          -webkit-text-decoration: underline 0.15em rgba(255, 255, 255, 0);
          text-decoration: underline 0.15em rgba(255, 255, 255, 0);
          transition: text-decoration-color 300ms;
          text-underline-offset: 0.2em;

          span {
            font-size: 12px;
          }
        }
        h1:hover {
          text-decoration-color: rgb(0, 0, 0);
          text-underline-offset: 0.2em;
        }
        p {
          font-size: 14px;
          color: grey;
        }
        &--info {
          display: flex;
          align-items: center;
          gap: 20px;
          cursor: pointer;

          &__data {
            display: flex;
            flex-direction: column;
            gap: 2px;
          }
        }

        &--delete button {
          position: relative;
          top: auto;
          right: auto;

          svg {
            stroke: red;
          }
        }
      }
    }
  }

  &__botton {
    padding-top: 20px;
    border-top: 1px solid rgb(216, 216, 216);
    font-size: 12px;
    display: flex;
    flex-direction: column;
    gap: 4px;

    &__price2 {
      display: flex;
      justify-content: space-between;
      p {
        font-size: 12px;
      }
    }
    &__price {
      display: flex;
      justify-content: space-between;
      font-weight: 700;
      font-size: 18px;
    }
    &--buttons {
      padding-top: 30px;
      display: flex;
      align-content: center;
      justify-content: space-evenly;

      a {
        width: 200px;
        padding: 10px;
        background-color: rgb(53, 58, 61);
        border: none;
        border-radius: 40px;
        color: white;
        font-size: 18px;
        font-weight: 600;
        text-decoration: none;
        text-align: center;
      }
      a:hover {
        text-decoration: none;
        background-color: rgb(89, 93, 95);
      }
    }
  }
  &__empty {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    a {
      width: 200px;
      padding: 10px;
      background-color: rgb(53, 58, 61);
      border: none;
      border-radius: 40px;
      color: white;
      font-size: 18px;
      font-weight: 600;
      text-decoration: none;
      text-align: center;
    }
    a:hover {
      text-decoration: none;
      background-color: rgb(89, 93, 95);
    }
  }
}

.popupcart-content__cart__container::-webkit-scrollbar {
  /* width: 12px; */
  height: 8px;
  border-radius: 20px;
  cursor: pointer; /* width of the entire scrollbar */
}

.popupcart-content__cart__container::-webkit-scrollbar-track {
  background: rgb(232, 3, 3);
  border-radius: 20px;
  cursor: pointer; /* color of the tracking area */
}

.popupcart-content__cart__container::-webkit-scrollbar-thumb {
  background-color: rgb(175, 0, 0);
  border-radius: 20px;
  border: 1px solid rgb(130, 130, 130);
  cursor: pointer;
}

.enlarge-on-hover img {
  transition: transform 0.3s ease; /* Agrega una transición suave al cambio de tamaño */
}

.enlarge-on-hover:hover img {
  transform: scale(1.1); /* Ajusta el valor de escala según tus preferencias */
}
/* Estilo de los enlaces dentro del menú desplegable */

/* Muestra el menú desplegable cuando el mouse pasa sobre el contenedor */
.nav-link-with-dropdown:hover .dropdown {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 200px;
  align-items: center;
}

.mobile-menu {
  cursor: pointer;
  display: none;

  svg {
    width: 30px;
  }

  @media (max-width: 1200px) {
    display: flex;
  }
}

@media screen and (max-width: 1195px) {
  .navbar--nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 10px 10px 10px 10px;
  }
  .menu {
    display: flex;
    align-items: center;
  }
  .mobile-menu {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .navbar--nav--links {
    display: none;
  }

  .navbar--nav--svg {
    display: none;
  }
}

@media screen and (max-width: 430px) {
  .menu {
    display: flex;
  }

  .navbar--nav--links {
    display: none;
  }
}

@media screen and (max-width: 290px) {
  .menu {
    display: flex;
  }

  .navbar--nav--links {
    display: none;
  }
}
