.menu {
  display: none;
}

.navbar {
  /* background-color: rgba(245, 245, 245, 0.76);
  backdrop-filter: blur(10px); */
  background-color: rgb(245, 245, 245);
  position: fixed;
  width: 100%;
  color: black;
  z-index: 300;
  padding: 5px 0px 5px 0px;

  .nav-link-wrapper {
    display: inline-block;
    margin-right: 20px;
  }

  &--nav {
    /* padding: 5px 0px 5px 0px; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 10;

    &--title {
      /* width: 200px; */
      display: flex;
      gap: 20px;
      align-items: center;
      h1 {
        cursor: pointer;
      }
      img {
        width: 70px;
        /* height: 60px; */
      }
      a {
        display: flex;
      }
    }

    &--links {
      display: flex;
      align-items: center;
      gap: 30px;

      /* .active {
        font-weight: 700;
        text-decoration: underline #fd8904;
        text-underline-offset: 0.4em;
      } */

      a {
        height: 70px;
        padding: 0px 20px 0px 20px;
        text-decoration: none;
        color: black;
        font-size: 18px;
        font-weight: 600;
        display: flex;
        align-items: center;
      }
      a:hover {
        text-decoration: underline;
        text-underline-offset: 0.4em;
      }
    }
    &--svg {
      /* width: 200px; */
      display: flex;
      align-items: center;
      gap: 10px;
      svg {
        width: 28px;
      }
    }
  }
}

.profile {
  stroke: black;
}
.profile:hover {
  stroke: rgb(73, 73, 73);
}

.cart:hover {
  fill: rgb(73, 73, 73);
}

.navbar.colorChange {
  background-color: #000;
}

.closed-menu {
  left: -100% !important;
}

.open-menu {
  left: 0 !important;
}

.mobile-nav {
  display: flex;
  gap: 4rem;
  width: 100%;
  height: 100vh;
  z-index: 300;
  /* -webkit-backdrop-filter: blur(90px);
  backdrop-filter: blur(90px); */
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  align-items: start;
  justify-content: start;
  transition: all 0.3s ease-in-out;

  .mobile-dropdown {
    width: 100%;
    /* display: grid;
    grid-template-columns: repeat(1, 1fr); */
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: start;
    margin-left: 60px;

    a {
      display: flex;
      justify-content: initial;
      gap: 10px;
      font-weight: 400;
    }
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  span {
    cursor: pointer;
    font-size: 1rem;
    position: absolute;
    right: 0.7rem;
    top: 1.5rem;
  }

  ul {
    width: 100%;
    font-weight: 700;
    padding-top: 100px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 1.6rem;
    list-style: none;

    li {
      display: flex;
      align-items: center;
      display: flex;
      justify-content: space-between;
    }

    a {
      width: 100%;
      color: #000000;
      text-decoration: none;
      font-size: 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      svg {
        stroke: black;
      }
    }
    a:hover {
      text-decoration: underline;
      text-underline-offset: 0.4em;
    }
    a:hover svg {
      fill: black;
    }
  }
}
/* Estilo para el contenedor de la opción con menú desplegable */
.nav-link-with-dropdown {
  position: relative;
  display: inline-block;

  a {
    display: flex;
    gap: 4px;

    svg {
      stroke: black;
    }
  }
}

/* Estilos del contenido del menú desplegable */

.dropdown {
  border-top: 1px solid rgb(216, 216, 216);
  width: 100vw;
  left: 0;
  margin-top: 10px;
  display: none;
  position: fixed;
  background-color: rgb(245, 245, 245);
  box-shadow: 0 40px 20px rgba(0, 0, 0, 0.2);
  z-index: 1;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease;

  &--links {
    display: flex;
    gap: 60px;
    margin-top: 50px;
    margin-bottom: 30px;

    a:hover {
      text-decoration: none;
    }

    h3 {
      padding-bottom: 30px;
      font-size: 22px;
    }

    h3:hover {
      text-decoration: underline;
    }

    ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 20px;
      font-weight: 400;
      color: rgb(126, 126, 126);
      font-size: 16px;
    }
    li:hover {
      color: black;
    }
  }

  &--img {
    position: relative;
    display: inline-block;
    overflow: hidden;

    img {
      width: 300px;
      overflow: hidden;
      border-radius: 10px;
    }
    p {
      line-height: 25px;
      font-weight: 800;
      color: rgb(255, 255, 255);
    }
    &__text {
      font-size: 30px;
      position: absolute;
      top: 60%;
      left: 50%;
      transform: translate(-90%, 80%);
      z-index: 1;
    }
  }
}

.image-container {
  border-radius: 18px;
  overflow: hidden;
  height: 300px;
}

.enlarge-on-hover img {
  transition: transform 0.3s ease; /* Agrega una transición suave al cambio de tamaño */
}

.enlarge-on-hover:hover img {
  transform: scale(1.1); /* Ajusta el valor de escala según tus preferencias */
}
/* Estilo de los enlaces dentro del menú desplegable */
.dropdown a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  height: auto;
}

/* Muestra el menú desplegable cuando el mouse pasa sobre el contenedor */
.nav-link-with-dropdown:hover .dropdown {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 200px;
  align-items: center;
}

.mobile-menu {
  cursor: pointer;
  display: none;

  svg {
    width: 30px;
    fill: rgb(0, 0, 0);
  }

  @media (max-width: 1200px) {
    display: flex;
  }
}

@media screen and (max-width: 900px) {
  .navbar--nav {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 6px 10px 6px 10px;
  }
  .menu {
    display: flex;
    align-items: center;

    svg {
      fill: rgb(0, 0, 0);
    }
  }
  .mobile-menu {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .navbar--nav--links {
    display: none;
  }

  .navbar--nav--svg {
    display: none;
  }
}

@media screen and (max-width: 430px) {
  .menu {
    display: flex;

    svg {
      fill: rgb(0, 0, 0);
    }
  }

  .navbar--nav--links {
    display: none;
  }
}

@media screen and (max-width: 290px) {
  .menu {
    display: flex;

    svg {
      fill: rgb(0, 0, 0);
    }
  }

  .navbar--nav--links {
    display: none;
  }
}
