.gotop {
  position: fixed;
  bottom: 33px;
  left: 33px;
  padding: 10px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: rgb(223, 145, 2);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 300;
  transition: opacity 0.3s ease-in-out;
  svg {
    stroke: white;
    fill: rgb(255, 255, 255);
    width: 32px;
    height: 32px;
  }
}

.gotop:hover {
  background-color: rgb(241, 180, 67);
}
