.gotop {
  position: fixed;
  bottom: 100px;
  left: 33px;
  padding: 10px;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: rgb(53, 58, 61);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 300;
  transition: opacity 0.3s ease-in-out;
  svg {
    stroke: white;
    fill: rgb(255, 255, 255);
    width: 32px;
    height: 32px;
  }
}

.gotop:hover {
  background-color: rgb(78, 82, 84);
}
